

 /* Testimonial Section */
.test-container {
  padding: 50px 10%;
  background-color: rgba(236, 236, 246, 0.688);
  text-align: center;
}

.testimonial-slider {
  width: 100%;
  padding: 100px;
}

/* Swiper Styling */
.swiper {
  width: 100%;
  max-width: 1400px;
  height: 400px;
  margin: auto;
}

.testimonial-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Overlay for Enlarged Image */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.enlarged-img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

/* Responsive Design for Mobile and Tablets */
@media (max-width: 1024px) {
  .swiper {
    height: 350px;
  }

  .testimonial-img {
    height: 220px;
  }
}

@media (max-width: 768px) {
  .test-container {
    padding: 30px 5%;
  }

  .swiper {
    height: 300px;
  }

  .testimonial-img {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .course-banner{
    padding-top: 45%;
    max-height: 25%;
  }
  .test-container {
    padding: 20px 5%;
  }

  .swiper {
    height: 250px;
  }

  .testimonial-img {
    height: 180px;
  }

  .enlarged-img {
    max-width: 95%;
    max-height: 80%;
  }
}
